.navbar {
  flex-direction: column;
}

.services {
  height: 80px;
}
.services-items {
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.box {
  width: 300px;
}
.box img {
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  display: block;
  margin: auto;
}
.box {
  height: 500px;
  border: 2px solid #b90000;

  border-radius: 50px;
  margin-top: 30px;
}
.items {
  margin: 0px -2px;
  font-size: 0.7rem;
  justify-content: center;
  padding: none;
}
.nav-logo {
  width: 80px;
 
  margin: 5px 10px;
  background-size: cover;
  justify-content: center;
}
.btn {
  font-size: 1rem;
}
.hero-msg {
  color: white;
  font-size: 1.5rem;
  margin-left: 40px;
  margin-right: 40px;
}
.hero-msg p {
  font-size: 1rem;
}
.partners {
  overflow: hidden;
}
.partners-lists img {
  height: 60px;
}
.footer {
  font-size: 0.8rem;
}
